@import url(styleGlobal.css);
a {
  text-decoration: none;
  color: inherit;
}
.container {
  max-width: 1024px;
  margin: 0 auto;
  padding-top: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.foto {
  width: 170px;
  height: 170px;
  padding: 4px;
  border-radius: 50%;
  background: linear-gradient(
    10deg,
    var(--laranja),
    var(--amarelo),
    var(--vermelho)
  );
  overflow: hidden;
}
.foto img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 50%;
  object-position: center top;
  display: block;
}

.logo {
  max-width: 80px;
  margin-top: 10px;
  margin-bottom: 10px;
}
.sub-logo {
  width: 200px;
}
p {
  text-align: right;
  color: white;
  margin-top: 10px;
  font-size: 12px;
}
.links {
  display: flex;
  flex-direction: column;
  gap: 15px;
  margin-top: 20px;
  margin-bottom: 20px;
}

/*.links button {
  background: linear-gradient(
    160deg,
    var(--laranja),
    var(--amarelo),
    var(--vermelho)
  );
  font-size: 16px;
  color: #fff;
  border: none;
  padding: 12px 20px;
  width: 290px;
  border-radius: 8px;
  cursor: pointer;
  display: flex;
  align-items: center;
  gap: 12px;
}
*/
button img {
  max-width: 30px;
  margin-right: 10px;
  filter: brightness(0) invert(1); /*transforma qualquer imagem em branca*/
}

button {
  position: relative;
  padding: 16px 36px;
  border-radius: 999px;
  background: #121212;
  color: #fff;
  font-size: 16px;
  font-weight: 500;
  border: none;
  cursor: pointer;
  overflow: hidden;
  width: 290px;
  display: flex;

  align-items: center;
  gap: 12px;
}

button::before {
  content: "";
  position: absolute;
  inset: 0;
  padding: 2px;
  border-radius: inherit;

  background: linear-gradient(
    90deg,
    #e65c00,
    /* laranja mais escuro */ #ff7a00,
    /* seu principal */ #ffb366,
    /* mais claro */ #ff7a00,
    #e65c00
  );

  background-size: 300% 100%; /* IMPORTANTE */
  background-position: 0% 50%; /* COMEÇA AQUI */
  animation: border-flow 4s linear infinite;

  -webkit-mask:
    linear-gradient(#fff 0 0) content-box,
    linear-gradient(#fff 0 0);
  -webkit-mask-composite: xor;
  mask-composite: exclude;
}
@keyframes border-flow {
  0% {
    background-position: 0% 50%;
  }
  100% {
    background-position: 300% 50%;
  }
}
