* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  font-family: Arial, sans-serif;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  background-color: gray;
}

.background {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: -1; /* Faz com que a animação fique atrás do conteúdo principal */
}

.svg-animation {
  width: 1000px; /* Ajuste o tamanho do SVG conforme necessário */
  height: 1000px;
  animation: rotate 50s linear infinite; /* Animação de rotação */
}

@keyframes rotate {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
