@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600;700&display=swap");

:root {
  --vermelho: #ff3c00;
  --laranja-escuro: #ff5a00;
  --laranja: #ff7a00;
  --laranja-claro: #ff9a00;
  --amarelo: #ffb800;
  --amarelo-forte: #ffd500;
  --glass: rgba(0, 0, 0, 0.18);
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Poppins", sans-serif;
  background: #0f0f0f;
  color: #fff;
  line-height: 1.7;
}

header {
  height: 400px;
  overflow: hidden;
  width: 100%;
}

.logo-principal {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center 40%;
  display: block;
  opacity: 0.16;
}
.conteudo {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  width: 100%;
  position: relative;
  z-index: -1;
  margin-top: -102%;
}
.hero-text {
  margin-top: 40px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.paragrafo {
  text-align: justify;
  width: clamp(21rem, 16.714rem + 11.429vw, 27rem);
  padding: 20px;
  margin-bottom: 60px;
  border-radius: 12px;
  border: 2px solid transparent;
  background:
    linear-gradient(#3b3838, #2e2b2b) padding-box,
    linear-gradient(
        90deg,
        var(--laranja),
        var(--laranja-claro),
        var(--amarelo),
        var(--amarelo-forte)
      )
      border-box;

  background-size: 400% 100%;
  animation: border-flow 5s linear infinite;
}

.beneficios {
  list-style: none;
  padding: 0;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.beneficios li {
  display: flex;
  gap: 15px;
  padding: 20px;
  background: #111;
  border: 1px solid #222;
  border-radius: 12px;
  transition: 0.3s;
  text-align: justify;
}

.beneficios li:hover {
  transform: translateY(-4px);
  border-color: #ff7a00;
}

.beneficios li:hover,
.beneficios li:active {
  border-color: #ff7a00;
  background: #1a1a1a;
}

.icon {
  color: #00ff88;
  font-weight: bold;
  font-size: 20px;
}

.beneficios strong {
  display: block;
  color: #fff;
  margin-bottom: 5px;
}

.beneficios p {
  color: #aaa;
  margin: 0;
}
.itens {
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}
.itens h1 {
  font-size: 28px;
}
.valores {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.card {
  background:
    linear-gradient(#0f0f0f, #0f0f0f) padding-box,
    linear-gradient(10deg, var(--laranja), var(--amarelo), var(--vermelho))
      border-box;
  border: 2px solid transparent;

  min-width: 250px;
  flex-shrink: 0;
  border-radius: 16px;
  padding: 30px;
  text-align: center;
}

.icon-card {
  width: 48px;
  height: 48px;
  margin: 0 auto 12px;
  background: var(--laranja);
  -webkit-mask: url("../assets/icons/fitness.png") no-repeat center/contain;
  mask: url("../assets/icons/fitness.png") no-repeat center/contain;
  -webkit-mask-size: contain;
  mask-size: contain;
}

.icon-card.bronze {
  background: var(--laranja);
}
.icon-card.prata {
  background: #c0c0c0;
}
.icon-card.ouro {
  background: var(--amarelo);
}
.icon-card.elite {
  background: var(--vermelho);
}
.card img {
  width: 100px;
}
.bronze {
  width: 50px;
  fill: #ffd700; /* dourado */
}
.container-card {
  display: flex;
  gap: 20px;
  padding: 20px;
  min-width: max-content;
  scroll-snap-align: center;
}
.carrosel-container {
  overflow-x: auto;
  width: 100%;
  overflow-x: auto;
  scroll-snap-type: x mandatory;
  scroll-behavior: smooth;
}

@keyframes border-flow {
  0% {
    background-position:
      0% 50%,
      0% 50%;
  }
  100% {
    background-position:
      0% 50%,
      100% 50%;
  }
}
